dialog::backdrop {
  background-color: grey;
  opacity: 0.5;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 120px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 6px;
}
